@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
/* font-family: 'Montserrat', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
b {
  color: #fff;
  font: 700 18px "Montserrat";
  line-height: 32px;
}
.btn-outlined {
  display: block;
  border: none;
  color: inherit;
  font: inherit;
  background-color: transparent;
  transition: 0.4s;
  cursor: pointer;
  border-radius: 30px;
  background: #9c0332;
  width: 234.06px;
  height: 48.6px;
  color: #fff;
  font: 400 normal 18px / normal sans-serif;
}
.btn-outlined:hover {
  background-color: #eb443f;
}
.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}
.header__container {
  height: 1024px;

  /* background-image:url(/img/fonts_1.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
  background: url(/img/fonts_1.jpg) no-repeat center/cover;
  /*  lightgray 50% / cover no-repeat */
}

.header__main-title {
  font: 700 64px "Montserrat", sans-serif;
  padding-top: 217px;
}
.header__main-text {
  padding-top: 32px;
  /* margin: 32px 838px 0 120px; */
  color: #fff;
  font: 300 18px "Montserrat";
  line-height: 32px;
}
.header__btn {
  margin-top: 44px;
}
/* Карточки игр  ARTICLE */
.article__container {
  height: 556px;
  background: #000915;
}
.container__box {
  column-gap: 32px;
  display: flex;
  padding-top: 128px;
}
.container__box-game {
  width: 379px;
  height: 300px;
}

.game-1 {
  background: url(/img/svg/game-1.svg) no-repeat;
}
.game-2 {
  background: url(/img/svg/game-2.svg) no-repeat;
}
.game-3 {
  background: url(/img/svg/game-3.svg) no-repeat;
}
.game-text {
  color: #fff;
  font: 600 24px/32px "Montserrat";
  padding-top: 236px;
  padding-bottom: 32px;
  padding-left: 32px;
  box-sizing: border-box;
}
